{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Add an Acquisition{% endblock %}
{% block js %}
    {{ block.super }}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

<!-- -->
        <script src="{% static 'js/webcomponents/webcomponents-loader.js' %}"></script>
        <link rel="import" href="{% static 'scipion-workflow.html' %}"><!-- links the web component code -->
<!-- -->

    <script>

        $( document ).ready(function(){

            $("#id_workflow").change(function() {
                loadWorkflow();
            });

            loadWorkflow();
        });

        function loadWorkflow(){

            workflowName = $( "#id_workflow option:selected" ).text();

            $( "#graph" ).attr("src", "/create_proj/getWorkflow/" +workflowName);
        };

    </script>
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="project" %}
{% endblock %}




{% block container %}
<div id="sec2" class="text-page">
    <div class="container">
      <div class="col-md-12">
        <h2>Create Project</h2>
        <p class="lead">To create a new project fill the form and press create project.
            If you want to continue a failed project creation select the project
            name and click skip project creation.
      </div>
      <div class="col-md-6">
        <form id="acquisition_form" method="post"
              action="{% url 'create_proj:add_acquisition' %}">

            {% csrf_token %}

             <table cellpadding="10">{{ form.as_ul }}</table>

            <input type="submit" name="submit_add_acquisition" value="Create Project" />
        </form>
        <hr>
        <form id="skip_acquisition_form" method="post"
              action="{% url 'create_proj:add_acquisition' %}">

            {% csrf_token %}

             <table cellpadding="10">{{ form2.as_ul }}</table>

            <input type="submit" name="skip_submit_add_acquisition" value="Skip Project Creation" />
        </form>
    </div>
    <div class="col-md-6">
        <scipion-workflow id="graph" height="400px" width="400px"></scipion-workflow>
    </div>
 </div>
</div>
{% endblock container %}
