{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Add an Acquisition{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="add_acquisition2" %}
{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}
<div id="sec2" class="text-page">
  <div class="container">
      <div class="col-md-12">
        <h2>Create Project - II </h2>
        <p class="lead">
      </div>

        <form id="category_form" method="post"
              action="{% url 'create_proj:add_acquisition2' %}">

            {% csrf_token %}
            <table cellpadding="10">
            {% for field in form %}
                <tr>
                <div class="fieldWrapper">
                    <td>{{ field.errors }}</td>
                    <td><a title="{{ field.help_text|safe }}">{{ field.label_tag }}</a></td>
                    <td>{{ field }}</td>
                </div>
                </tr>
            {% endfor %}
            </table>
<!--             <table cellpadding="10">{{ form.as_table }}</table> -->

            <input type="submit" name="submit" value="Launch Scipion" />
        </form>
 </div>
</div>
{% endblock container %}
{% block scripts %}
    <script>
        function computeDose(){
            dr = getDoseRate();
            tetPerMovie = getTETperMovie();
            sr = getSamplingRate();

            result = dr * tetPerMovie /(sr*sr);

            setFormValue("id_total_dose_per_movie", result);

        }
        function computeTime(){
            dr = getDoseRate();
            dosePerMovie = getDoseperMovie();
            sr = getSamplingRate();

            result = (dosePerMovie/ dr) * sr * sr;

            setFormValue("id_total_exposure_time", result);

        }
        function setFormValue(id, value) {
            $("#" + id).val(value)

        }
        function getDoseRate(){
            return getValueFromForm("id_dose_rate")
        }

        function getSamplingRate(){
            return getValueFromForm("id_sampling_rate")
        }
        function getTETperMovie(){
            return getValueFromForm("id_total_exposure_time")
        }
        function getDoseperMovie() {
            return getValueFromForm("id_total_dose_per_movie")
        }
        function getValueFromForm(id){
            return $("#" + id).val();
        }

        function cleanTotals(){
            setFormValue("id_total_exposure_time", "")
            setFormValue("id_total_dose_per_movie", "")

        }
        // Listen to onblur events on field above to trigger calculation
        $("#id_dose_rate" ).blur(cleanTotals)
        $("#id_sampling_rate" ).blur(cleanTotals)
        $("#id_total_exposure_time" ).blur(computeDose)
        $("#id_total_dose_per_movie" ).blur(computeTime)

    </script>

{% endblock scripts %}

